


$duration: 3s;
$timing-function: ease;
$iteration-count: 1;
$direction: running;
$delay: 1s;
$fill-mode: forwards;


.element {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 250px;
  &-1 {
    animation: element-1 2s linear $iteration-count $direction $delay $fill-mode;
  }
  &-2 {
    animation: element-2 2.5s linear  $iteration-count $direction $delay $fill-mode;
  }
  &-3 {
    animation: element-3 5.3s linear  $iteration-count $direction $delay $fill-mode;
  }
  &-4 {
    animation: element-4 4.6s ease-out  $iteration-count $direction $delay $fill-mode;
  }
}

@import "__elements/element-1";
@import "__elements/element-2";
@import "__elements/element-3";
@import "__elements/element-4";

