@keyframes element-4 {
  0%, 6%, 12%, 18%  {
    transform: translate(0, 0);
  }
  3%, 9%, 15% {
    transform: translate(0, -10px);
  }
  22% {
    width: 150px;
    height: 150px;
    transform: translate(0, -10px) rotate(5deg);
  }
  40% {
    transform: translate(70px, -150px) rotate(200deg);
  }
  55% {
    transform: translate(129px,70px) rotate(400deg);
  }
  70% {
    transform: translate(400px,100px) rotate(700deg);
  }
  100% {
    transform: translate(-87px,186px) rotate(300deg);
    width: 230px;
    height: 230px;
  }
}