//@keyframes element-3 {
//  0%, 6%, 12%, 18%, 25%  {
//    transform: translate(0, 0);
//  }
//  3%, 9%, 15%, 21% {
//    transform: translate(0, -10px);
//  }
//  22% {
//    width: 150px;
//    height: 150px;
//    border-radius: 50%;
//  }
//  40% {
//    transform: translate(-350px, 50px)  rotate(-180deg);
//
//  }
//  50% {
//    transform: translate(-550px, 175px)  rotate(-360deg);
//    width: 180px;
//    height: 180px;
//  }
//  85% {
//    transform: translate(100px, 500px)  rotate(240deg);
//    width: 300px;
//    height: 300px;
//  }
//  100% {
//    transform: translate(420px,155px)  rotate(460deg);
//    width: 180px;
//    height: 180px;
//  }
//}


@keyframes element-3 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(150px, 100px) rotate(720deg);
    //width: 120px;
    //height: 120px;
  }
  //66% {
  //  transform: translate(-120px, 150px);
  //  //width: 120px;
  //  //height: 120px;
  //}
  100% {
    transform: translate(250px, 100px) rotate(1300deg);
  //  width: 180px;
  //  height: 180px;
  }
}
