@import "__mixin/mixin";
@import "__keyframes/main_keyframes";


body {
  background: chartreuse;
}


.box {
  display: block;
  width: 200px;
  height: 200px;
  background: magenta;
  position: relative;
  margin: 50px auto 0;


}
  .animation-any {
    @include keyframe-blind-up(200, 5, 200, 0);
    @include animation(
                    blind-up,
                    1s,
                    linear,
                    1,
                    alternate,
                    running,
                    2s,
                    forwards);

  }















