@import "../../variable";

.body__topic {
  position: absolute;
  top: -19px;
  left: 18px;
  width: 40px;
  height: 92px;
  border-radius: 49% 79% 68% 39%;
  transform: rotate(-131deg);
  border-top: 30px solid $color-topic;
  border-left: 30px solid $color-topic;


  &:before {
    content: '';
    position: absolute;
    top: 11px;
    left: -59px;
    height: 40px;
    width: 58px;
    border-radius: 87% 21% 0 49%;
    border-top: 40px solid $color-topic;
    border-left: 40px solid $color-topic;
  }
  &:after {
    transform: rotate(42deg);
    content: "";
    position: absolute;
    top: -14px;
    left: -62px;
    height: 94px;
    width: 49px;
    background: $color-topic;
    border-radius: 0 52% 45% 5%;
  }
}