@keyframes pulsate {



  $cycle: 0;
  $stepCycle: 10;
  @for $i from 1 through 11 {

    #{$cycle}% {
        opacity: if($i % 2 == 1, 1, 0.2)
    }

    $i: $i + 1;
    $cycle: $cycle + $stepCycle;
  }
}


//
//$cycle: 0;
//$stepCycle: 10;
//$opacity: 1, 0.2;
//
//@for $i from 1 through 11 {
//  #{$cycle}% {
//    opacity: $opacity;
//  }
//  @if $i % 2 == 1 {
//    $opacity: 0.2;
//  } @else {
//    $opacity: 1;
//  }
//
//  $i: $i + 1;
//  $cycle: $cycle + $stepCycle;
//}
//}


//  $cycle: 0;
//  $stepCycle: 20;
//
//
//  @for $i from 1 through 6 {
//    @if $i % 2 == 1 {
//      $color: grey;
//      #{$cycle}% {
//        background: $color;
//      }
//    } @else {
//      $color: gold;
//      #{$cycle}% {
//        background: $color;
//      }
//    }
//    $i: $i + 1;
//    $cycle: $cycle + $stepCycle;
//  }
//}


//  $cycle: 0;
//  $stepCycle: 20;
//
//  @for $i from 1 through 6 {
//    @if $i % 2 == 1 {
//      #{$cycle}% {
//        background: darkslateblue;
//      }
//    } @else  {
//      #{$cycle}% {
//        background: gold;
//      }
//    }
//    $i: $i + 1;
//    $cycle: $cycle + $stepCycle;
//  }
//}


//  0% {
//      opacity: 1;
//    }
//    50% {
//      opacity: 0.2;
//    }
//}


//  $r: 100;
//  $g: 120;
//  $b: 140;
//  $rgba-opacity: 0.5;
//  @for $i from 1 through 6 {
//    .box {
//      &:nth-child(#{$i}) {
//        background: rgba($r, $g, $b, $rgba-opacity);
//
//        &:before {
//          content: ""+$i;
//        }
//      }
//    }
//    @if $i % 2 == 0 {
//
//      //use $i for calculating mod here than #{$i} $rgba-opacity: $rgba-opacity + 0.2; $r: $r + 100; $g: $g + 100;
//    }
//  }
//}


//
//$startCycle: 0;
//$finishCycle: 10;
//
//@while $startCycle <= 100 {
//@each $i, $values in ($startCycle: 1, $finishCycle: 0.2) {
//  #{$i}% {
//    opacity: $values;
//  }
//}
//$startCycle: $startCycle + 20;
//$finishCycle: $finishCycle + 20;
//}
//}


//$a: 0%, 20%, 40%;
//$b: 10%, 30%, 50%;
//
//@each $i, $values in ($a: 1, $b: 0.2) {
//  #{$i} {
//    opacity: $values;
//  }
//}
//}







