@keyframes square {

  0% {
    left: 0;
    top: 0;
    background: red;
  }
  25% {
    left: 250px;
    top: 0;
    background: gold;
    width: 10px;
    height: 100px;
  }
  50% {
    left: 195px;
    top: 200px;
    background: darkslateblue;
    height: 10px;
    width: 100px;
  }
  75% {
    left: 0;
    top: 100px;
    background: aqua;
    width: 10px;
    height: 100px;
  }
  100% {
    left: 0;
    top: 0;
    background: red;
  }
}