




@mixin animation($animation-name, $duration, $timing-function, $iteration-count, $direction, $play-state, $delay, $fill-mode) {
  animation-name: $animation-name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-play-state: $play-state;
  animation-delay: $delay;
  animation-fill-mode: $fill-mode;

}






















